---
import CardInvitation from "@/components/CardInvitation.astro";
import Layout from "../layouts/Layout.astro";
import Counter from "@/components/Counter.astro";
---

<Layout>
    <main>
        <section
            id="HeroBannerHome"
            class="w-full flex flex-col items-center justify-center h-screen"
        >
            <!-- <div class="overlay"></div> -->
            <div class="content">
                <!-- Aquí podrías poner un título o lo que quieras dentro del banner si es necesario -->
            </div>
        </section>

        <div class="flex justify-center items-center m-4">
            <CardInvitation />
        </div>

        <Counter />
    </main>
</Layout>

<style>
    #HeroBannerHome {
        background-image: url("/img/bannerescritorio.webp");
        background-repeat: no-repeat;
        background-size: cover 100%;
        background-position: center;
        width: 100%;
        position: relative;
        aspect-ratio: 1/2;
    }

    /* #HeroBannerHome .overlay {
        position: absolute;
        inset: 0;
        background: rgba(
            0,
            0,
            0,
            0.3
        );
    } */

    #HeroBannerHome .content {
        position: relative;
        z-index: 1;
        text-align: center;
        color: white;
    }

    /* @media (max-width: 768px) {
        #HeroBannerHome {
            background-image: url("/img/banner.webp");
            background-position: center center;
        }
    } */
    @media (min-width: 567px) and (max-width: 767px) {
        #HeroBannerHome {
            /* background-image: url("/img/banner.webp"); */
            background-position: center center;
        }
    }

    @media (max-width: 566px) {
        /* Estilos para smartphones pequeños */
        #HeroBannerHome {
            background-size: cover;
            background-image: url("/img/banner.webp");
        }
    }
</style>
